body {
    background-color: #b2d4f9;
    
    
    font-family: Arial, sans-serif;
     
}

input, button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #0e0909;
    border-radius: 4px;
}

button {
    background-color: #f5f7fa;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #f5f7f9;
}

.form-container {
    justify-content: center;
    align-items: center;
    padding: 100px;
    width: 400px;
    border-radius: 60px;
    margin-left: 30%; 
    margin-bottom: 70px;
  
}